// @import "../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

$bootstrap-sass-asset-helper: false;
$icon-font-name: 'glyphicons-halflings-regular';
$icon-font-svg-id: 'glyphicons_halflingsregular';
$icon-font-path: '../fonts/';

@font-face {
    font-family: 'Showcard Gothic';
    src: url('../fonts/ShowcardGothic.eot');
    src: url('../fonts/ShowcardGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ShowcardGothic.woff2') format('woff2'),
        url('../fonts/ShowcardGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "../node_modules/bootstrap/scss/glyphicons";

// Custom styles for FrontEnd Task v1
$primary-color: #ffffff;
$primary-background: rgb(3, 41, 42);
$font-stack: Helvetica, sans-serif;
$menu-background: rgb(25, 60, 56);
$background-color: rgb(3, 41, 42);
$blog-background: rgb(7, 103, 102);
$aside-background: rgb(6, 82, 82);
$max-container: 1280px;

.container {
    max-width: $max-container;
}

.container-fluid {
    max-width: $max-container;
}

.bg-dark {
    background-color: rgb(3, 41, 42) !important;
}

.brand-fixed {
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 10;
}

.navbar-fixed {
    padding: 6px 0px !important;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.navbar-expand-md {
    flex-flow: column;
    justify-content: flex-start;
}

.brand-row {
    display: block;
    width: 100%;
}

.navbar {
    margin-top: 10px;
    padding-left: 0;
    padding-bottom: 0;
}

.navbar-expand-md .navbar-collapse {
    // display: block;
    flex-basis: auto;
    width: 100%;
}

.navbar-brand {
    font-size: 30px;
    margin: 10px 0px 40px 0px;
    padding: 0px 6px;
    background-color: $blog-background;
    font-weight: bolder;
    font-family: 'Showcard Gothic';
}

.navbar-nav {
    margin-left: 10px;
}

.nav-item {
    margin-right: 6px;
    padding: 0 10px;
    background-color: $blog-background;
}

.nav-link {
    font-weight: bold;
    padding: 0px 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.dropdown-menu {
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: $blog-background;
}

.dropdown-item {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    white-space: normal !important;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.taks-template {
    padding: 10px 15px;
}

.taks-template {

    .blog-main {
        border: 10px solid rgb(9, 101, 102);
        background-color: rgb(30, 58, 59);
    }

    .blog-sidebar {
        border: 10px solid rgb(6, 82, 82);
        background-color: rgb(30, 58, 59);
    }

    .blog-main .border {
        border: 1px solid transparent !important;
    }

    .border-dark {
        background-color: rgb(0, 1, 5) !important;
    }

    .border-light {
        background-color: rgb(100, 111, 113) !important;
    }

    .blog-post {
        .border:nth-child(3) {
            margin: 0 0 10px 0;
        }

        .blog-post-title {
            margin-top: 10px;
        }
    }
}

.article {
    margin-bottom: 14px;
}

.btn-group-article .btn {
    margin-right: 12px;
    border-radius: 0;
}

.article .list-unstyled a {
    color: $primary-color;
    text-decoration: underline;
}

.font-aside {
    font-family: 'Helvetica, sans-serif';
}

.font-artical {
    text-transform: uppercase;
}

.blog-footer {
    padding: 10px 10px;
    background-color: $blog-background;
    color: $primary-color;
}

.blog-footer {
    .copyright {
        @include float-left;
    }

    .copyright p {
        margin-bottom: 0;
    }

    .navigation {
        @include float-right;
    }

    .navbar {
        margin-top: 0;
        padding: 0;
    }

    .navbar .nav-link {
        padding: 0px 10px;
        font-weight: normal;
        text-decoration: underline;
        color: $primary-color;
    }
}

.blog-footer {
    @include clearfix;
}

@media (max-width: 768px) {

    .navbar-brand {
        display: initial;
    }

    .brand-row {
        display: inline-table;
        width: 0%;
    }

    .navbar-fixed {
        display: none;
    }

    .nav-item {
        flex:1 auto;
    }

    .nav-link {
        width: 100%;
        display: flex;
        justify-content: space-around;
        justify-content: space-between;
    }

    .carousel {
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }

}

.flex-artical {
    display: flex;
    flex-direction: row;
    order: 5;
}

.font-artical {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

@mixin linx ($link, $visit, $hover, $active) {
    a {
        color: $link;

        &:visited {
            color: $visit;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}

a {
    @include linx(#00c, #0cc, #c0c, #ccc);
}

@media (max-width: 425px) {
    .nav-item {
        width: 100%;
        text-align: center;
    }
    .copyright {
        text-align: center;
    }
}